/* Color scheme */

$color-text: #2f3441;
$color-text-blue: #606981;
$color-dots: #959595;
$color-bg-card: #f4f7fa;
$color-blue: #296093;

$color-red: #df2030;
$color-red-hover: #ca1920;
$color-red-push: #ca1920;

/* Extends */
%ext-font-regular {
   font-family: Arial !important;
   font-style: normal !important;
   font-weight: normal !important;
}

%ext-font-bold {
   font-family: Arial !important;
   font-style: normal !important;
   font-weight: bold !important;
}

/* Box model */

*,
*::after,
*::before {
   margin: 0px;
   padding: 0px;

   box-sizing: border-box !important;
   --bs-gutter-x: 0rem !important;
   --bs-gutter-y: 0 !important;
}

/* Basic styles */

html,
body {
   overflow-x: hidden;
}

/* Other styles */

.row > *,
.row {
   padding-right: 0px !important;
   padding-left: 0px !important;
   margin-top: 0px !important;
}

/* Wrapper */

.contant__wrapper {
   max-width: 1140px;

   padding: 0px;

   @media (max-width: 1200px) {
      max-width: 820px;
   }

   @media (max-width: 840px) {
      max-width: 760px;
   }

   @media (max-width: 780px) {
      max-width: 100%;

      padding: 0px 32px 0 32px !important;
   }
}

/* About */

.about {
   padding-top: 70px;
   .about__title {
      h1 {
         @extend %ext-font-bold;

         font-size: 36px;
         line-height: 41px;

         color: $color-text;
         @media (max-width: 440px) {
            font-size: 28px;
         }
      }
   }

   .about__image {
      display: block;
      height: 111px;
      width: 231px;
      img {
         height: 111px;
         width: 231px;
      }
      @media (max-width: 780px) {
         margin: 0px 0px 24px 0px !important;
      }

      @media (max-width: 460px) {
         display: flex;
         margin: 0px 0px 24px 0px !important;
         height: 100%;
         width: 100%;
         justify-content: center;
         flex-direction: row;
      }

      @media (max-width: 440px) {
         margin: 0px 0px 48px 0px !important;
      }
   }

   .about__content {
      padding-top: 65px;
      @media (max-width: 440px) {
         padding-top: 50px;
      }
   }

   .about__text {
      margin-bottom: 0px;
      @media (max-width: 460px) {
         text-align: center;
      }
   }

   @media (max-width: 440px) {
      padding-top: 50px;
   }
}

/* Slider */
.owl-carousel {
   margin-top: 60px;
   position: relative;
   .owl-stage-outer {
      .owl-stage {
         display: flex;
         .owl-item {
            cursor: pointer;

            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: flex-start;

            width: 360px !important;
            height: 129px !important;

            padding: 24px;

            background-color: $color-bg-card;
            border-radius: 5px;
            .owl__title {
               @extend %ext-font-bold;

               font-size: 36px;
               line-height: 28px;

               color: $color-text-blue;
            }
            .owl__subtitle {
               @extend %ext-font-regular;

               font-size: 20px;
               line-height: 24px;

               margin-top: 8px;

               max-width: 247px;

               color: $color-text-blue;
            }
         }

         .owl__item--bg-point,
         .owl__item--bg-planent,
         .owl__item--bg-headset,
         .owl__item--bg-man,
         .owl__item--bg-carbon_partnership,
         .owl__item--bg-build {
            background-repeat: no-repeat;
            background-position: right;
         }
         .owl__item--bg-point {
            background-image: url(../../images/squoosh/point.svg);
         }
         .owl__item--bg-planent {
            background-image: url(../../images/squoosh/planen.svg);
         }
         .owl__item--bg-headset {
            background-image: url(../../images/squoosh/headset.svg);
         }
         .owl__item--bg-man {
            background-image: url(../../images/squoosh/man.svg);
         }
         .owl__item--bg-carbon_partnership {
            background-image: url(../../images/squoosh/carbon_partnership.svg);
         }
         .owl__item--bg-build {
            background-image: url(../../images/squoosh/building.svg);
         }
      }
   }
}

.owl-nav {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 24px;
   .owl-prev,
   .owl-next {
      width: 30px;
      height: 30px;
   }
   .owl-prev {
      background: 0 0 / 100% no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 0c8.285 0 15 6.715 15 15 0 8.284-6.715 15-15 15-8.284 0-15-6.716-15-15C0 6.715 6.716 0 15 0zm0 28.125c7.238 0 13.125-5.887 13.125-13.125 0-7.237-5.887-13.154-13.125-13.154C7.763 1.846 1.875 7.763 1.875 15c0 7.238 5.888 13.125 13.125 13.125z' fill='%23296093'/%3E%3Cpath d='M17.055 7.754a.931.931 0 011.326 0c.366.37.366.97 0 1.34l-5.808 5.892 5.809 5.892c.366.37.366.97 0 1.34a.931.931 0 01-1.326 0l-6.469-6.562a.972.972 0 010-1.34l6.468-6.562z' fill='%23296093'/%3E%3C/svg%3E");
   }
   .owl-next {
      background: 0 0 / 100% no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 0C6.715 0 0 6.715 0 15c0 8.284 6.715 15 15 15 8.284 0 15-6.716 15-15 0-8.285-6.716-15-15-15zm0 28.125C7.763 28.125 1.875 22.238 1.875 15 1.875 7.763 7.763 1.846 15 1.846c7.238 0 13.125 5.917 13.125 13.154 0 7.238-5.887 13.125-13.125 13.125z' fill='%23296093'/%3E%3Cpath d='M12.945 7.754a.931.931 0 00-1.326 0 .953.953 0 000 1.34l5.808 5.892-5.809 5.892a.953.953 0 000 1.34c.367.37.96.37 1.326 0l6.469-6.562a.972.972 0 000-1.34l-6.468-6.562z' fill='%23296093'/%3E%3C/svg%3E%0A");
   }
}

.owl-dots {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 24px !important;

   margin: 0px 30px 0px 30px;
   .owl-dot {
      margin: 6px !important;
      width: 8px !important;
      height: 8px;
      border-radius: 100%;
      background-color: $color-dots !important;
      transition: all 0.3s ease;
   }

   .owl-dot.active {
      margin: 6px !important;
      width: 11px !important;
      height: 11px;
      border-radius: 100%;
      background-color: $color-blue !important;
      transition: all 0.3s ease;
   }
}

.extend {
   display: none;
}

.six {
   display: none;
}

@media (max-width: 768px) {
   .extend {
      display: unset;
   }
}

@media (min-width: 768px) {
   .six {
      display: none;
   }
}

/* Feedback */

.feedback {
   display: block;
   margin-top: 80px;

   padding: 100px 0px 140px 0px;

   background-color: $color-bg-card;
   .feedback__image {
      width: 554px;
      height: 409px;
      @media (max-width: 1040px) {
         width: 100%;
         height: auto;
      }
      @media (max-width: 780px) {
         display: none;
      }
   }
   .feedback__substring {
      display: block;
      @extend %ext-font-regular;

      font-size: 18px;
      line-height: 21px;

      color: $color-text;
      p {
         padding-right: 30px !important;
      }
      @media (max-width: 780px) {
         display: none;
      }
   }

   .fb-c-s {
      display: block;
      @media (max-width: 780px) {
         display: none;
      }
   }

   @media (max-width: 780px) {
      padding: 50px 0px 100px 0px;
   }
}

.feedback__title {
   @extend %ext-font-bold;

   font-size: 24px;
   line-height: 28px;

   color: $color-text;

   @media (max-width: 1040px) {
      font-size: 20px;
      line-height: 24px;
   }

   @media (max-width: 840px) {
      font-size: 18px;
      line-height: 22px;
   }

   @media (max-width: 780px) {
      font-size: 16px;
      line-height: 20px;
   }
}

.feedback__form {
   padding-left: 30px !important;
   @media (max-width: 780px) {
      padding-left: 0px !important;
   }
}

label > span {
   color: $color-red;
}

/* Button */

.btn {
   margin: 0px !important;
   font-size: unset !important;
   box-shadow: none !important;
   background-color: $color-red !important;

   border-radius: 3px !important;

   @extend %ext-font-regular;

   font-size: 16px !important;
   line-height: 18px !important;
   text-align: center !important;
   text-transform: none !important;

   color: #ffffff !important;

   width: 186px !important;
   height: 60px !important;

   transition: background-color 0.3s ease !important;
   &:hover,
   &:focus {
      background-color: $color-red-hover !important;
      transition: background-color 0.3s ease !important;
   }
   &:active {
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
      transition: box-shadow 0.3s ease !important;
   }
}

/* Margins for row */

.mt-row {
   margin-top: 30px !important;
   @media (max-width: 1040px) {
      margin-top: 20px !important;
   }

   @media (max-width: 840px) {
      margin-top: 15px !important;
   }

   @media (max-width: 780px) {
      margin-top: 25px !important;
   }

   @media (max-width: 440px) {
      margin-top: 35px !important;
   }
}

/* Checked */

.check {
   cursor: pointer;
   padding-left: 28px;

   @extend %ext-font-regular;

   font-size: 12px !important;
   line-height: 14px !important;

   color: $color-text;
}

.check__input {
   position: absolute;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

.check__box {
   position: absolute;
   width: 18px;
   height: 18px;
   margin-left: -28px;
   background-image: url('data:image/svg+xml,%3Csvg width="15" height="15" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect x=".5" y=".5" width="14" height="14" rx=".5" stroke="%232F3441"/%3E%3C/svg%3E');
   background-repeat: no-repeat;
}

/* Checked */

.check__input:checked + .check__box {
   background-image: url('data:image/svg+xml,%3Csvg width="17" height="15" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect x=".5" y=".5" width="14" height="14" rx=".5" stroke="%232F3441"/%3E%3Cpath d="M16.795 1.22a.668.668 0 00-.99 0l-8.386 8.972-3.224-3.449a.668.668 0 00-.99 0 .786.786 0 000 1.06l3.719 3.978a.668.668 0 00.99 0l8.881-9.502a.786.786 0 000-1.06z" fill="%23002882"/%3E%3C/svg%3E');
   background-repeat: no-repeat;
}

/* Focus */
.check__input:focus + .check__box {
   background-image: url('data:image/svg+xml,%3Csvg width="15" height="15" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect x=".5" y=".5" width="14" height="14" rx=".5" stroke="%23DF2030"/%3E%3C/svg%3E');
   background-repeat: no-repeat;
}

.check__input:checked:focus + .check__box {
   background-image: url('data:image/svg+xml,%3Csvg width="17" height="15" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect x=".5" y=".5" width="14" height="14" rx=".5" stroke="%23DF2030"/%3E%3Cpath d="M16.795 1.22a.668.668 0 00-.99 0l-8.386 8.972-3.224-3.449a.668.668 0 00-.99 0 .786.786 0 000 1.06l3.719 3.978a.668.668 0 00.99 0l8.881-9.502a.786.786 0 000-1.06z" fill="%23002882"/%3E%3C/svg%3E');
   background-repeat: no-repeat;
}

/* Disabled */
.check__input:disabled + .check__box {
   background-image: url('data:image/svg+xml,%3Csvg width="15" height="15" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect x=".5" y=".5" width="14" height="14" rx=".5" stroke="%238E8E8E"/%3E%3C/svg%3E');
   background-repeat: no-repeat;
}

.check__input:checked:disabled + .check__box {
   background-image: url('data:image/svg+xml,%3Csvg width="17" height="15" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect x=".5" y=".5" width="14" height="14" rx=".5" stroke="%238E8E8E"/%3E%3Cpath d="M16.795 1.22a.668.668 0 00-.99 0l-8.386 8.972-3.224-3.449a.668.668 0 00-.99 0 .786.786 0 000 1.06l3.719 3.978a.668.668 0 00.99 0l8.881-9.502a.786.786 0 000-1.06z" fill="%23575B64"/%3E%3C/svg%3E%0A');
   background-repeat: no-repeat;
}
